[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

google-api-python-client = "*"
pyopenssl = "*"
pyyaml = "*"
docopt = "*"
pandas = "*"
google-cloud-bigquery = "*"


[dev-packages]



[requires]

python_version = "3.6"
